# Data Cleaning   

- Ideas to implement in standard notebooks  
- As part of or after [Initial Data Analysis](./Initial%20Data%20Analysis.ipynb)  


Data Cleaning With Python and pandas  
https://medium.com/better-programming/data-cleaning-with-python-pandas-an-introduction-1cfd5cde6884  
- data:  
    - https://data.cityofnewyork.us/Housing-Development/DOB-Violations/3h2n-5cm9  
- not a great tutorial - because mentioned a lot of checks that are not actually covered

In [39]:
import pandas as pd 
import numpy as np 
import sys

In [40]:
#Standard pandas settings  
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None
pd.options.display.max_seq_items = None # lists
pd.set_option('mode.chained_assignment', None) # disable the SettingwithCopyWarning

np.set_printoptions(threshold=sys.maxsize)  # if values like unique are in numpy.ndarray

In [7]:
# Data - downloaded manually 
csv_file = './data/DOB_Violations.csv'

In [14]:
df = pd.read_csv(csv_file)
df.shape

(2141980, 18)

In [11]:
df.dtypes

ISN_DOB_BIS_VIOL          int64
BORO                     object
BIN                     float64
BLOCK                    object
LOT                      object
ISSUE_DATE               object
VIOLATION_TYPE_CODE      object
VIOLATION_NUMBER         object
HOUSE_NUMBER             object
STREET                   object
DISPOSITION_DATE        float64
DISPOSITION_COMMENTS     object
DEVICE_NUMBER            object
DESCRIPTION              object
ECB_NUMBER               object
NUMBER                   object
VIOLATION_CATEGORY       object
VIOLATION_TYPE           object
dtype: object

## Make dataset similar to the blog

In [46]:
# filter to just 2019 
df = df[df['ISSUE_DATE'].str.startswith("2019", na=False)]
df.shape

(10000, 18)

In [47]:
# just take the first 10k
df = df.iloc[0:10000,:]
df.shape

(10000, 18)

### Ready to for next step

In [48]:
df.head(5)

,ISN_DOB_BIS_VIOL,BORO,BIN,BLOCK,LOT,ISSUE_DATE,VIOLATION_TYPE_CODE,VIOLATION_NUMBER,HOUSE_NUMBER,STREET,DISPOSITION_DATE,DISPOSITION_COMMENTS,DEVICE_NUMBER,DESCRIPTION,ECB_NUMBER,NUMBER,VIOLATION_CATEGORY,VIOLATION_TYPE
43,2351406,3,3059563.0,02136,02136,20190520,JVCAT5,00339,441,WYTHE AVENUE,NaN,NaN,3P10799,FAILURE TO PERFORM CATEGORY 5 INSPECTION,NaN,V052019JVCAT500339,V-DOB VIOLATION - ACTIVE,JVCAT5-RESIDENTIAL ELEVATOR PERIODIC INSPECTION/TEST
82,2350064,3,3215627.0,07777,00026,20190516,AEUHAZ1,00951,1275,EAST 51 STREET,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY HAZARDOUS (CLASS 1) ECB VIOLATION,35363019K,V051619AEUHAZ100951,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
89,2383173,3,3137310.0,05631,00014,20190903,LL2604S,NRF01042,920,48 STREET,NaN,NaN,NaN,"FAILED TO FILE FINAL SPRINKLER REPORT BY JULY 1, 2019",NaN,V090319LL2604SNRF01042,V-DOB VIOLATION - ACTIVE,LL2604S-SPRINKLER
102,2427322,2,2003035.0,02504,00036,20190904,AEUHAZ1,00162,941,JEROME AVENUE,20191202.0,GNC PAID INVOICE 62132098,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY HAZARDOUS (CLASS 1) ECB VIOLATION,35409075X,V*090419AEUHAZ100162,V*-DOB VIOLATION - DISMISSED,AEUHAZ1-FAIL TO CERTIFY CLASS 1
128,2384655,1,1001389.0,00113,07501,20190906,ACC1,00284,375,PEARL ST,NaN,NaN,1F5381,VIO ISSUED TO ELEVATOR - FAIL TO CORRECT DEFECTS ON 2017 CAT 1 INSP/TST TST,NaN,V090619ACC100284,V-DOB VIOLATION - ACTIVE,ACC1-(OTHER BLDGS TYPES) - ELEVATOR AFFIRMATION OF CORRECTION

In [49]:
# Nulls ? Counts all null values in all columns
df.isnull().sum()

ISN_DOB_BIS_VIOL           0
BORO                       0
BIN                        0
BLOCK                      0
LOT                        0
ISSUE_DATE                 0
VIOLATION_TYPE_CODE        0
VIOLATION_NUMBER           0
HOUSE_NUMBER               0
STREET                     0
DISPOSITION_DATE        7134
DISPOSITION_COMMENTS    7121
DEVICE_NUMBER           3742
DESCRIPTION             2358
ECB_NUMBER              8062
NUMBER                     0
VIOLATION_CATEGORY         0
VIOLATION_TYPE             0
dtype: int64

In [51]:
# Simplify - focus on columns of interest  
columns_to_delete = [
    'BLOCK', 'BORO','HOUSE_NUMBER','LOT','STREET','VIOLATION_NUMBER', 
    'DEVICE_NUMBER', 'DISPOSITION_COMMENTS', 'ISN_DOB_BIS_VIOL', 
    'DISPOSITION_DATE','ECB_NUMBER','DESCRIPTION'
    ] 
df.drop(columns_to_delete, inplace=True, axis=1)
df.shape

(10000, 6)

In [56]:
df.dtypes

BIN                    float64
ISSUE_DATE              object
VIOLATION_TYPE_CODE     object
NUMBER                  object
VIOLATION_CATEGORY      object
VIOLATION_TYPE          object
dtype: object

In [57]:
# start conversion
df['ISSUE_DATE'] = pd.to_datetime(df['ISSUE_DATE'])  
df['ISSUE_DATE'].head()

43    2019-05-20
82    2019-05-16
89    2019-09-03
102   2019-09-04
128   2019-09-06
Name: ISSUE_DATE, dtype: datetime64[ns]

In [58]:
df.head(5)

,BIN,ISSUE_DATE,VIOLATION_TYPE_CODE,NUMBER,VIOLATION_CATEGORY,VIOLATION_TYPE
43,3059563.0,2019-05-20,JVCAT5,V052019JVCAT500339,V-DOB VIOLATION - ACTIVE,JVCAT5-RESIDENTIAL ELEVATOR PERIODIC INSPECTION/TEST
82,3215627.0,2019-05-16,AEUHAZ1,V051619AEUHAZ100951,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
89,3137310.0,2019-09-03,LL2604S,V090319LL2604SNRF01042,V-DOB VIOLATION - ACTIVE,LL2604S-SPRINKLER
102,2003035.0,2019-09-04,AEUHAZ1,V*090419AEUHAZ100162,V*-DOB VIOLATION - DISMISSED,AEUHAZ1-FAIL TO CERTIFY CLASS 1
128,1001389.0,2019-09-06,ACC1,V090619ACC100284,V-DOB VIOLATION - ACTIVE,ACC1-(OTHER BLDGS TYPES) - ELEVATOR AFFIRMATION OF CORRECTION

### Data Constraints

In [62]:
df_count = df.shape[0]
print(df_count)

10000

In [71]:
# Check all dates in year
test = "ISSUE_DATE in 2019"
mask = (df['ISSUE_DATE'] > '2018-12-31') & (df['ISSUE_DATE'] <= '2019-12-31')
test_count = df.loc[mask].shape[0]
assert test_count == df_count, "Not all dates in 2019"
print(test, "OK")

ISSUE_DATE in 2019 OK