# Flatten  

https://medium.com/better-programming/how-to-flatten-a-dictionary-with-nested-lists-and-dictionaries-in-python-524fd236365

Not what I want.  Usually, it will be a list of jason that needs to be flattened, into a data frame

In [11]:
import pandas as pd
from pprint import pprint

In [4]:
def flatten(d,sep="_"):
    import collections

    obj = collections.OrderedDict()

    def recurse(t,parent_key=""):
        
        if isinstance(t,list):
            for i in range(len(t)):
                recurse(t[i],parent_key + sep + str(i) if parent_key else str(i))
        elif isinstance(t,dict):
            for k,v in t.items():
                recurse(v,parent_key + sep + k if parent_key else k)
        else:
            obj[parent_key] = t

    recurse(d)

    return obj

In [16]:
data = [
    {
    "id": 1,
    "first_name": "Jonathan",
    "last_name": "Hsu",
    "employment_history": [
        {
            "company": "Black Belt Academy",
            "title": "Instructor",
            "something": {
                "hello": [1,2,3,{
                    "something":"goes"
                }]
            }
        },
        {
            "company": "Zerion Software",
            "title": "Solutions Engineer"
        }
    ],
    "education": {
        "bachelors": "Information Technology",
        "masters": "Applied Information Technology",
        "phd": "Higher Education"
    }
},
    {
    "id": 2,
    "first_name": "bbb",
    "last_name": "Hsu",
    "employment_history": [
        {
            "company": "Black Belt Academy",
            "title": "Instructor",
            "something": {
                "hello": [1,2,3,{
                    "something":"goes"
                }]
            }
        },
        {
            "company": "Zerion Software",
            "title": "Solutions Engineer"
        }
    ],
    "education": {
        "bachelors": "Information Technology",
        "masters": "Applied Information Technology",
        "phd": "Higher Education"
    }
}]

In [17]:
results = flatten(data)

In [18]:
type(results)

collections.OrderedDict

In [19]:
pprint(results,indent=2)

OrderedDict([ ('0_id', 1),
              ('0_first_name', 'Jonathan'),
              ('0_last_name', 'Hsu'),
              ('0_employment_history_0_company', 'Black Belt Academy'),
              ('0_employment_history_0_title', 'Instructor'),
              ('0_employment_history_0_something_hello_0', 1),
              ('0_employment_history_0_something_hello_1', 2),
              ('0_employment_history_0_something_hello_2', 3),
              ('0_employment_history_0_something_hello_3_something', 'goes'),
              ('0_employment_history_1_company', 'Zerion Software'),
              ('0_employment_history_1_title', 'Solutions Engineer'),
              ('0_education_bachelors', 'Information Technology'),
              ('0_education_masters', 'Applied Information Technology'),
              ('0_education_phd', 'Higher Education'),
              ('1_id', 2),
              ('1_first_name', 'bbb'),
              ('1_last_name', 'Hsu'),
              ('1_employment_history_0_company', 'Black Belt Academy'),
              ('1_employment_history_0_title', 'Instructor'),
              ('1_employment_history_0_something_hello_0', 1),
              ('1_employment_history_0_something_hello_1', 2),
              ('1_employment_history_0_something_hello_2', 3),
              ('1_employment_history_0_something_hello_3_something', 'goes'),
              ('1_employment_history_1_company', 'Zerion Software'),
              ('1_employment_history_1_title', 'Solutions Engineer'),
              ('1_education_bachelors', 'Information Technology'),
              ('1_education_masters', 'Applied Information Technology'),
              ('1_education_phd', 'Higher Education')])

In [9]:
## Really want a data frame usually ....

In [14]:
results.keys()

odict_keys(['id', 'first_name', 'last_name', 'employment_history_0_company', 'employment_history_0_title', 'employment_history_0_something_hello_0', 'employment_history_0_something_hello_1', 'employment_history_0_something_hello_2', 'employment_history_0_something_hello_3_something', 'employment_history_1_company', 'employment_history_1_title', 'education_bachelors', 'education_masters', 'education_phd'])

In [15]:
df = pd.DataFrame(results, columns=results.keys())

ValueError: If using all scalar values, you must pass an index

## ANOTHER WAY

In [30]:
import json
from flatten_json import flatten

In [31]:
flattened_json_list = []

In [32]:
for j in data:
    #print (j)
    flattened_json_list.append(flatten(j, '.'))

In [ ]:
# if a file list
# for f in localFileList:
#         file = open(f,"r") 
#         file_content = file.read()
#         json_content = json.loads(file_content)
#         for j in json_content:
#             flattened_json_list.append(flatten(j, '.'))
#         file.close()

In [34]:
df = pd.DataFrame(flattened_json_list)

In [35]:
df

,id,first_name,last_name,employment_history.0.company,employment_history.0.title,employment_history.0.something.hello.0,employment_history.0.something.hello.1,employment_history.0.something.hello.2,employment_history.0.something.hello.3.something,employment_history.1.company,employment_history.1.title,education.bachelors,education.masters,education.phd
0,1,Jonathan,Hsu,Black Belt Academy,Instructor,1,2,3,goes,Zerion Software,Solutions Engineer,Information Technology,Applied Information Technology,Higher Education
1,2,bbb,Hsu,Black Belt Academy,Instructor,1,2,3,goes,Zerion Software,Solutions Engineer,Information Technology,Applied Information Technology,Higher Education